html {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

body {
    background: #ededed;
}

p {
    font-size: 1em;
    line-height: 1,5m;
}

a {
    text-decoration: none;
    color: #000;
}

header, footer {
    width: 100%;
    padding: 20px 0px;
    background: url("../Assets/cover.jpg");
    box-shadow: 0px 0px 15px #333;
}

header h1, h2 {
    color: #fff;
    font-size: 1,5em;
    width: 90%;
    margin: 0 auto;
}

footer {
    border-top: 2px solid #fff;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2 {
    margin: 20px auto;
    width: 90%;
}

section > div {
    width: 90%;
}

.contact-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contact-flex p:first-child {
    flex: 0 0 40%;
}

.contact-flex p:last-child {
    flex: 0 0 60%;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}

.skill{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.skill p {
    flex: 0 0 40%;
}

.conteneur-barre {
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: gray;
    border-bottom: 1px ridge grey;
}

.barre {
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.c95 {
    width: 95%;
    background-color: rgb(128, 31, 31);
}

.c90 {
    width: 90%;
    background-color: rgb(110, 40, 40);
}

.c85 {
    width: 85%;
    background-color: rgb(95, 41, 41);
}

.c80 {
    width: 80%;
    background-color: rgb(85, 42, 42);
}

.c75 {
    width: 75%;
    background-color: rgb(73, 42, 42);
}

.c70 {
    width: 70%;
    background-color: rgb(54, 32, 32);
}
